BREVO_SMTP_SENDER=
BREVO_SMTP_HOST_LOGIN=
BREVO_SMTP_KEY=
BREVO_API_KEY=

SECRET_KEY=
DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=usep_marketplace
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306